// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//UTILS
.text-dec-none {
    text-decoration: none;
}

.btn:hover {
    //color: white;
    &.btn-link {
        color: #172b4d;
    }
}

.btn-outline-default {
    color: #172b4d;
    border-color: #172b4d;
    background-color: transparent;
    background-image: none;
}

.flotate-alert {
    position: absolute;
    z-index: 999;
    top: 8rem;
    left: 0;
    right: 0;
    margin: 0 3rem;
}
